@font-face {
  font-family: "SalesforceSans";
  src: url("SalesforceSans-Regular.ttf");
}

body{
    font-family:"SalesforceSans",verdana,serif;
    text-align: center;
    width:100vw;
    min-height:350px;
    background:#fff;
}
.bgContainer{
  overflow-x:hidden;
}
/* Ratings */
.btn-scale {
  width: 25px;
  height:25px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: 'Lato', sans-serif;
  border:2px solid #666;
  padding:1px;
  padding-left:0px;
  line-height:5px;
  border-radius:25px;
  letter-spacing: normal;
}
.btn-scale:hover{
  background:#FFC700;
  outline:0;
}
.btn-scale:selected{
  outline:0;
  background:#FFC700;
}
.btn-scale:focus{
  background:#FFC700;
  outline:0;
}
.container {
  max-width:100%;
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  text-align:center;
  height:100%;
  width:100%;
  padding:0;
}
.loader{
  display:inline;
  margin:0;
  padding:0;
}
.next,.next1,.next2,.next3 {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background:#FF7501;
  border-radius:5px;
  width:60px;
  padding-left:8px;
  margin:5px auto auto auto;
  display:inline;
}
.sliding-background{
  background-image:url('../images/impactLiveFooter.png');
  background-position:left bottom;
  background-repeat:repeat-x;
  height:135px;
  width:5521px;
  padding:0;
  position:absolute;
  background-size:contain;
  bottom:0;
  overflow-x:hidden;
  z-index:1;

}
#author{
  margin-bottom:15px;
  font-size:smaller;
}
#balloon{
  width:100%;
  margin:auto;
  position:absolute;
  text-align: center;
  overflow:hidden;
}
#end{
  margin-top:300px;
  overflow:hidden;
}
#logo{
  margin-top:-20px;
  z-index:1001;
  position:relative;
  margin-left:safe-area-inset-right;
  margin-right:safe-area-inset-left;
}
#logo,.fadeInIntro{
  display:none;
  visibility: hidden;
}
#register {
  margin-top:3px;
  margin-left:auto;
  margin-right:auto;
  background: #fff;
  border-radius:15px;
  border:3px solid #1D4084;
  color: #1D4084;
  width: 250px;
  padding: 2px 15px 15px 15px;
  display:inline-block;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
  display:none;
  min-height: 135px;
  z-index:1000;
  position:relative;
}
#register h5{
  margin-bottom:2px !important;
}
#voter{
  max-width:250px;
}
@media only screen
  and (min-width: 800px) {
    body{
      height:100%;
    }
    #logo{
      float:none;
    }
    #register{
      margin-top:50px;

    }
    .btn-scale {
      width:50px;
      height:50px;
      border-radius:50px;
    }
    .next1{
      margin-right:30px;
    }

  }
@media only screen
  and (max-height: 440px) {
    #logo{
      height:auto !important;
      width:90px !important;
      position:absolute;

    }

    .shrink{
      width:30px;
    }

}
@media only screen
  and (max-width: 399px) {
    .btn-scale{
      width:20px;
      height:20px;
      border-radius:20px;
    }
  }
