@font-face {
  font-family: "SalesforceSans";
  src: url("SalesforceSans-Regular.ttf");
}
html, body {
  height: 100%;

}
body{
    font-family:"SalesforceSans",verdana,serif;
    text-align: center;
}
.container {
  max-width:100%;
  margin-left:0;
  margin-right:0;
  background-color:#fff;
  text-align:center;
  height:100%;
  width:100%;
  padding:0;
}
.bgContainer{
  overflow:hidden;
}
.sliding-background{
  background-image:url('../images/impactLiveFooter.png');
  background-position:left bottom;
  background-repeat:repeat-x;
  height:146px;
  width:2500px;
  padding:0;
  position:absolute;
  background-size:contain;
  bottom:0;
  overflow:hidden;
}
#logo{
  margin-top:-20px;
}
#logo,.fadeInIntro{
  display:none;
  visibility: hidden;
}
#voter{
  max-width:250px;
}
#register {
  margin-top:3px;
  margin-left:auto;
  margin-right:auto;
  background: #fff;
  border-radius:15px;
  border:3px solid #1D4084;
  color: #1D4084;
  width: 250px;
  padding: 2px 15px 15px 15px;
  display:inline-block;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
  display:none;
  min-height: 135px;
}
.next,.next1,.next2,.next3 {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background:#FF7501;
  border-radius:5px;
  width:60px;
  padding-left:8px;
  margin:5px auto auto auto;
}

/* Ratings */
.btn-scale {
  width: 25px;
  height:25px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: 'Lato', sans-serif;
  border:2px solid #666;
  padding:1px;
  padding-left:0px;
  line-height:5px;
  border-radius:25px;
  letter-spacing: normal;
}
.btn-scale:hover{
  background:#FFC700;
  outline:0;
}
.btn-scale:selected{
  outline:0;
  background:#FFC700;
}
.btn-scale:focus{
  background:#FFC700;
  outline:0;
}
#register h5{
  margin-bottom:2px !important;
}
#author{
  margin-bottom:15px;
  font-size:smaller;
}
#end{
  margin-top:300px;
  overflow:hidden;
}
#balloon{
  width:100%;
  margin:auto;
  position:absolute;
  text-align: center;
  overflow:hidden;
}
#end,#balloon,#thankyou{

}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  #logo{
    float:left;
    max-height:80vh;
    width:auto;
    margin-top:-30px;
  }
  #register{
    margin-top:-185px;
  }
}
@media only screen
  and (min-width: 800px) {
    #logo{
      float:none;
    }
    #register{
      margin-top:0px;
    }
    .btn-scale {
      width:40px;
      height:40px;
    }
    .next1{
      margin-right:30px;
    }
  }
}
