body{
    padding:0px; 
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    }

body.home{
    background: url(../img/home_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.register{
    background: linear-gradient(#837760,#BEAD8C,#E2CEA7);
    padding:10px;
    text-align: center;
}


.register form input{
    padding:25px;
    width:80%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size:1.3em;
    margin-bottom:20px;
}

.register form input[type="submit"]{
    padding:25px;
    width:80%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    text-align: center;
    font-size:1.3em;
    margin-bottom:20px;
    background-color:#70AD47;
}

#apps{
    display:block;
    padding:20px 0px;
}
#apps ul, #PriorityApps ul{
    display:block;
    padding:0px;
    margin:0px;
}

#apps ul li, #PriorityApps ul li{
    display:block;
    float:left;
    width:20%;
    height:auto;
    margin-left:3%;
    margin-bottom:3%;
    text-align: center;
    color:#ffffff;
    position:relative;
}

.appMessage{
    background-color:red;
    display:block;
    position:absolute;
    width:25px;
    height:25px;
    padding:5px;
    top:-5px;
    right:-5px;
    border-radius: 50%;
    text-align:center;
}

#apps ul li a, #PriorityApps ul li a{
    text-decoration: none;
    color:white;
}

#PriorityApps{
    padding:20px 0px;
    display:block;
    position:absolute;
    bottom:0px;
    width:100%;
    height:100px;
    background: rgba(139, 184, 226, 0.7); 
}

.icon{
    width:80px;
    height:80px;
}

#footer{
    display:block;
    position:absolute;
    bottom:0px;
    width:100%;
    height:100px;
}

.emailInbox{
    background-color:#fff;
}
h1.inboxHeader{
    display:block;
    padding:5px;
    margin:0px;
    background-color:#f6f6f6;
    border-bottom:1px solid #eaeaea;
}

.inboxBody{
    display:block;
    height:100%;
}

.inboxBody ul{
    padding:0px;
    margin:0px;
}


.inboxEmail, .inboxSMS{
    display:block;
    position:relative;
    padding:5px;
    margin:0px 0px 0px 7%;
    border-bottom:1px solid #eaeaea;

}

.emailUnread, .smsProfile{
    position:absolute;
    top:0px;
    left:-5%;
    text-align: center;
    display:block;
    width:5%;
    font-size:3em;
}

.emailReceived, .smsReceived{
    position:absolute;
    top:0px;
    right:1%;
    text-align: right;
    font-size:0.8em;
}

.inboxEmail a, .inboxSMS a,{
   text-decoration:none; 
   color:#000000; 
}

.inboxEmail .emailTitle, .smsTitle{
   font-weight:bold;
}
.inboxEmail .emailPreHeader{
    text-indent: 5%;
   font-weight: normal;
   color: #333333;
   font-size: 0.9em;
}
.inboxEmail .emailText, .smsText{
   font-weight:light;
   color: #999999;
   font-size: 0.8em;
}
.inboxFooter{
    display:block;
    position:absolute;
    bottom:0px;
    width:100%;
    height:40px;
    background:#eaeaea;
    border-top:1px solid #e6e6e6;
    text-align: center;
    font-size: 0.7em;
}